@charset "utf-8";
/* Pops ups generales */
.over-lapse-pop-up-gen{
background: #FFF;
width:100%;
height:100%;
min-height:100vh;
max-width:100vw;
max-height: 100vh;
overflow-y: auto;

}
.over-lapse-pop-up-gen .modal-dialog{
	display: table-cell;
    vertical-align: middle;	
}
.over-lapse-pop-up-gen .modal-content{
	background-color:#FFF;
	width:100%;
	min-width:100vw;
	height:100%;
	min-height:100vh;
	max-height:100vh;
	max-width:100vh;
	color: initial;
	overflow-y: auto;
}
.over-lapse-pop-up-gen .modal-dialog .modal-content .modal-body{
	padding:0px;
}
.over-lapse-pop-up-gen .modal-dialog .modal-content .modal-header{
	display:none;
}
.emergentes-pop-up-gen .modal-content .modal-footer {
	display:none;
}
/* Loading PopUp */
.loading-pop-up{
background: -moz-linear-gradient(left, rgba(161,162,164,0) 0%, rgba(161,162,164,0.5) 51%, rgba(161,162,164,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,162,164,0)), color-stop(51%, rgba(161,162,164,0.5)), color-stop(100%, rgba(161,162,164,0)));
background: -webkit-linear-gradient(left, rgba(161,162,164,0) 0%, rgba(161,162,164,0.5) 51%, rgba(161,162,164,0) 100%);
background: -o-linear-gradient(left, rgba(161,162,164,0) 0%, rgba(161,162,164,0.5) 51%, rgba(161,162,164,0) 100%);
background: -ms-linear-gradient(left, rgba(161,162,164,0) 0%, rgba(161,162,164,0.5) 51%, rgba(161,162,164,0) 100%);
background: linear-gradient(to right, rgba(161,162,164,0) 0%, rgba(161,162,164,0.5) 51%, rgba(161,162,164,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a2a4', endColorstr='#a1a2a4', GradientType=1 );
display: table;
width:100%;
height:100%;
min-height:100vh;
}
.loading-pop-up .modal-dialog{
	display: table-cell;
    vertical-align: middle;
	border:none;	
}
.loading-pop-up .modal-content{
	background-color: transparent;
	background:url(../img/pop-ups/loading.svg) no-repeat;
	background-size: 200px 200px;
	background-position:center center;
	width::200px;
	height:200px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	border:none;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0);
	opacity: 0.8;
    filter: alpha(opacity=80);
	-webkit-animation : spin 2s infinite linear;  
	-moz-animation : spin 2s infinite linear; 
	-ms-animation: spin 2s infinite linear; 
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.loading-pop-up .modal-dialog .modal-content .modal-header, .loading-pop-up .modal-content .modal-footer, .loading-pop-up .btn-default {
	display:none;
	border:none;
}

/*Filter Modal */
.filter-pop-up .bootstrap-dialog {
    margin: 15% 10px 10px;
    position: relative;
    width: auto;
}
.filter-pop-up .modal-content {
  color: #ffffff;
  position: relative;
  background-color: #231f20;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.filter-pop-up .bootstrap-dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #231f20;
}
.filter-pop-up .bootstrap-dialog-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.filter-pop-up .bootstrap-dialog-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .9;
}
.filter-pop-up .modal-header {
	background-color: initial;
	text-align: center;
}
.filter-pop-up .bootstrap-dialog-header {
  padding: 0px;
  border-bottom: none;
}
.filter-pop-up .bootstrap-dialog-header .close {
  margin-top: -2px;
}
.filter-pop-up .bootstrap-dialog-title {
    font-size: 1.8em;
    line-height: 1.42857;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.filter-pop-up .bootstrap-dialog-body {
  position: relative;
  padding: 0px;
}
.filter-pop-up .bootstrap-dialog-footer {
  padding: 0px;
  text-align: center;
  border-top: none;
}
.filter-pop-up .bootstrap-dialog-footer .btn-default{
     background: transparent none repeat scroll 0 0 !important;
    border-radius: 2px;
    color: #fff !important;
    font-size: 1.2em;
    padding-bottom: 3px;
    text-transform: uppercase;
	border-color: #ccc;
}
.filter-pop-up .bootstrap-dialog-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.filter-pop-up .bootstrap-dialog-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.filter-pop-up .bootstrap-dialog-footer .btn-block + .btn-block {
  margin-left: 0;
}
.filter-pop-up .modal-content .modal-header h1 {font-size:1.3em;}
.filter-pop-up .modal-content .modal-header h2 {font-size:1.2em;}
.filter-pop-up .modal-content .modal-header h3 {font-size:1em;}
.filter-pop-up .modal-content .modal-header h4 {}

.filter-pop-up .modal-dialog .modal-content .modal-header{
	    background-color: initial;
		font-size: 1.8em;
}
/* Para animaciones, agregar asi: 
-webkit-animation : spin 2s infinite linear;  
	-moz-animation : spin 2s infinite linear; 
	-ms-animation: spin 2s infinite linear;
*/
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}