/*
JugaPlay Styles: 2017
Autor: Ezequiel Wernicke
*/


/* ==========================================================================
   BASIC
   ========================================================================== */
body {
	font-family: 'Hind', sans-serif;
	padding-bottom: 50px; /* Para que no lo tape las flechitas de iphone */
}


/* ==========================================================================
   MAIN TOP NAV
   ========================================================================== */

/* -- Back Button --*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
	color: #ffffff;
}

.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
	position: fixed;
}
.nopadding {
   padding: 0 !important;
}
.nomarging {
   margin: 0 !important;
}
.main-nav {
    min-height: 50px;
}

.main-nav-container {
	background:rgba(0,0,0,0.7);
}

.main-nav h4 {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
	margin-left:80px;/* Con estos margenes no interfieren los iconos */
	margin-right:80px;
	margin-top:0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.main-nav .navbar-header {
	background-color:#212b31;
	padding-top:18px;
	height: 60px;/* Para que no se caiga */
}
.main-nav .navbar-collapse {
    border: medium none;
    box-shadow: none;
    /*margin-top: 10px;*/
}

.btn-sanwich-menu {
    border: medium none;
    margin: 0;
    padding: 0;
}
.main-nav .btn-sanwich-menu {
	margin-right: 15px;
}
.main-nav .btn-alerts-menu{
	margin-right: 15px;
	border: none;
	width:30px;
	height:20px;
}
.main-nav .btn-alerts-menu i{
	    color: #9E9E9E;
   		position: absolute;
    	left: 0;
		bottom:0;
}
.main-nav .btn-alerts-menu p{
	    position: absolute;
    	background: #35b44a;
    	width: 20px;
    	height: 20px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
    	text-align: center;
    	right: 0;
    	opacity: 0.8;
    	filter: alpha(opacity=80);
    	background-color: #35b44a;
}

.btn-navbar-back {
    border: medium none;
    margin: 0;
    padding: 0;
}
.main-nav .btn-navbar-back {
    float: left;
    margin-left: 15px;
	margin-top: 9px;
}

/*-- > IMPORTANT --*/
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: calc(100vh - 60px);
    width: calc(85vw);
	overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
	background-color:#221f1f;
	float: right;
	padding-bottom: 70px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse ul {
	margin:0;
}
/*-- < IMPORTANT --*/

.navbar-nav li a:last-child {
    border-bottom: none;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff!important;
}
.navbar-default .navbar-nav > li > a {
    border-bottom: 1px solid #393939!important;
    color: #a7a9ab!important;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
}
/* Color de la seleccion */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #a7a9ac;
}
/* Fin de color de seleccion */
.top-nav-user {
    background-color: #212b31;
    padding: 15px;
}
.top-nav-user img {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    width: 60px;
}
.top-nav-user p {
    color: #199e49;
    display: inline-block;
    font-size: 1.15em;
}

.top-nav-stats .chips, .top-nav-stats .coins {
    background: #199e49 none repeat scroll 0 0;
    padding: 15px 0;
    text-align: center;
}
.top-nav-stats .coins {
	background-color: #a7a9ac;
}
.top-nav-stats .chips {
	background-color: #113c50;
}
.top-nav-stats h2 {
    font-size: 2.8em;
    font-weight: 600;
    line-height: 1em;
    margin: 0;
}
.top-nav-stats h4 {
    font-size: 1em;
    font-weight: 500;
}

/* ==========================================================================
   GENERAL SECTIONS
   ========================================================================== */
.title-box {
    padding-bottom: 10px;
    padding-top: 10px;
}

.title-box h1 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    margin: 3px 0 0;
    text-transform: uppercase;
}

/* ==========================================================================
   SECTION > MATCHES
   ========================================================================== */
.matches-list {}
.match-list-item {border-bottom: solid 2px #000;}

/*-- Match Data --*/
.match-data {
    padding-bottom: 15px;
    padding-top: 15px;
}
.match-data .row > div {
    padding: 0;
}
.match-data .row > div:last-child {
    padding-right: 5px;
}
.match-data .row > div:first-child {
    padding-left: 5px;
}
/* Special title for friends */
.match-list-item .container-title.bg-color11  h3{
	margin: 6px 5px 0 0;
}
/*-- Match Time --*/
.match-time p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-align: left;
	}

.match-time p span {
    font-weight: 600;
}

/*-- Match Cup --*/
.match-cup {}
.match-cup img {
	width: 90%;
	min-width:35px;
}

/*-- Match Type --*/
.match-type {}
.match-type img {
	width: 27px;
	margin-left: 3px;
}
.match-type p {
    display: inline-flex;
    font-size: 1.1em;
    font-weight: 700;
    margin: 0;
	color:#000;
}
/*-- Match Type --*/
.prize-type {}
.prize-type img {
	 width: 38px;
    margin-right: -18px;
    margin-left: 2px;
}
.prize-type p {
    display: inline-flex;
    font-size: 1.1em;
    font-weight: 700;
    margin: 0;
	color:#000;
}

/*-- Match info --*/
.match-info img {
    width: 20px;
}

/*-- Match Buton --*/
.match-button {}

/* ==========================================================================
   SECTION > MURO DE CAMPEONES
   ========================================================================== */
.champions-container {
	text-align: center;
}
.box-champion {
    background: #000 none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 200px;
    min-width: 150px;
    padding: 10px;
    width: 49%;
}
.box-champion .name {
    color: #fff;
    text-align: left;
	padding-bottom: 10px;
}
.box-champion .name > p {
    font-size: 0.85em;
    line-height: 1em;
    margin: 5px 0 0;
}
.box-champion .name > img {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    width: 22px;
	float: left;
}
.box-champion .picture {}
.box-champion .picture > img {
    width: 100%;
}
.box-champion .social {
	padding-top: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;	
}

/* -- > Social Icon Circle --*/  /*------------------------------------------------------------------------------ REEMPLAZAR POR GRAFICOS SVG --*/
a.social-icon {
	text-decoration: none;
}
a.social-icon .fa.fa-stack-1x {
    color: #000;
}
a.social-icon .icon-bg {
    color: #fff;
}
a.social-icon .circle-icon2 {
    background: #ffc0c0;
    padding:30px;
    border-radius: 50%;
}
a.social-icon .circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}
.fa-lg {
	font-size: 0.85em!important;
	line-height: 0.75em;
}
/* -- < Social Icon Circle --*/


/* ==========================================================================
   SECTION > PREMIOS / REWARDS
   ========================================================================== */
.rewards-container .reward {
    margin-bottom: 25px;
}
.rewards-container .reward img {
    margin-bottom: 10px;
}
.rewards-container .reward h5 {
    margin: 0;
}
.rewards-container .reward p {
    margin-bottom: 2px;
}


/* ==========================================================================
   SECTION > PLAYER SELECTION
   ========================================================================== */
/*-- Filters --*/
.filter-list {}
.filter-item {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 3px;
    padding: 2px 7px 0;
}
.filter-item > p {
    color: #fff;
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
}

.filter-item > p a {
    color: #fff;
    font-weight: 700;
    margin-right: 5px;
	text-decoration: none;
}
.filter-item > p a:hover {
	text-decoration: none;
}
.btn-filter {
    display: block;
    width: 20px;
	float: right;
	margin-top: 3px;
}
.btn-filter > img {
    width: 100%;
}

/*-- Players List --*/
.players-list {
	margin-bottom: 100px;
	/*overflow: auto;
    max-height: 100vh;*/
}

.player-profile-pic {
    border: 1px solid #ccc;
    border-radius: 50%;
	width: 35px;
	display: inline-block;
}
.player-profile-pic.small {
	width: 25px;
}

.players-list-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}

.players-list-item .player-name p {
    font-size: 1em;
    line-height: 1.15em;
    margin: 0;
}

.selected-players .players-list-item {
    background-color: #5FC36E;;
    border-color: #333;
}
.selected-players .players-list-item:last-child {
    border-bottom: 5px solid;
}
.user-logo {
    display: inline-block;
    width: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.team-logo {
    display: inline-block;
    width: 30px;
}
.team-logo.small{
    width: 25px;
}
.color-player-list.even{
  background-color: #E7E8EA;
}
.color-player-list.odd{
  background-color: #FFF;
}
.color-player-list2.even{
  background-color: #58595B;
  color:#FFF;
}
.color-player-list2.odd{
  background-color: #3F3F3F;
  color:#FFF;
}
.color-player-list3.even{
  background-color: #232323;
  color:#FFF;
}
.color-player-list3.odd{
  background-color: #000;
  color:#FFF;
}
/*-- Play Button --*/
.btn-play-container {
    bottom: 0;
    height: 100px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    width: 100%;
}
.btn-play {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 2em;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
	border-top: 2px solid #000;
}
.btn-play.pending {
	background-color: #bcbec1;
    font-size: 1.5em;
	
}


/* ==========================================================================
   SECTION > Refer friend > Recomendar a un amigo
   ========================================================================== */
.refered-friends {}
.refered-friends img {width: 30px;}


/* ==========================================================================
   SECTION > HISTORIAL
   ========================================================================== */
/*-- Historial --*/
.historial-list-item {
    background: #000 none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
}
.historial-list-item > h1 {
    margin: 15px 0 0;
}
.historial-list-item h2 {
    font-size: 1.6em;
    font-weight: 500;
    margin: 0;
}
.historial-list-item h2 > span {
    font-size: 0.7em;
    font-weight: 300;
}
.historial-list-item h4 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}
.historial-list-item > div h1 {
    margin-bottom: 0;
}
.historial-list-item > div h5 {
    font-size: 0.75em;
    font-weight: 300;
    margin: 0 0 15px;
}

.historial-list-item:nth-child(odd) {background: #000}
.historial-list-item:nth-child(even) {background: transparent}


/*-- Historial > Detalle del partido--*/
.historial-detalle {
    background: #000 none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
}
.historial-detalle .table1 {}
.historial-detalle .table1 .row {
	background: red none repeat scroll 0 0;
}

.historial-detalle .head-detalle h1 {
	margin: 15px 0 0;
}
.historial-detalle .head-detalle h5 {
    font-size: 0.75em;
    font-weight: 300;
    margin: 0 0 15px;
}


/* ==========================================================================
   SECTION > MI CUENTA
   ========================================================================== */
.profile-box-points {}
.profile-box-points .row div {
    /*background: #199e49 none repeat scroll 0 0;*/
    padding: 15px 0;
    text-align: center;
}

.profile-box-points h2 {
    font-size: 2.8em;
    font-weight: 600;
    line-height: 1em;
    margin: 0;
}

.profile-box-points h4 {
    font-size: 1em;
    font-weight: 500;
	margin: 0;
}


/* ==========================================================================
   SECTION > INICIO / Registro & Login
   ========================================================================== */
.init-top-nav {
	padding-top: 5px;
	padding-bottom: 5px;
}
.init-top-nav .logo img {
	width:100px;
}

.btn-register-init {
	display:block;
	background-color: green;
	border-radius: 4px;
	display:inline-block;
	padding: 15px;

}
.btn-register-init:hover {
	color: #fff;
}
	
.btn-register-init h2 {
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-size: 1.7em;
    margin: 0;
    text-transform: uppercase;
    width: 80%;
}
.btn-register-init h3 {
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
	margin-top: 10px;
}

.pantalla-inicio {}
.pantalla-inicio > h1 {
    font-family: fjalla One;
    font-size: 30px;
    text-transform: uppercase;
}
.pantalla-inicio > h2 {
    font-family: fjalla One;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.pantalla-inicio > h3 {
    font-family: fjalla One;
    font-size: 1.2em;
    line-height: 1.3em;
    text-transform: uppercase;
}
.pantalla-inicio h4 > {}
.pantalla-inicio h5 > {}

.pantalla-inicio .img-container {
	width:100%;
}
.pantalla-inicio .img-container img {
	width:70%;
}

#inicio-pantalla1 {
    background: transparent url("../img/login/bg-init1.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#323117;
	min-height: 500px;
}
#inicio-pantalla2 {
    background: transparent url("../img/login/bg-init2.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#1f2630;
	min-height: 500px;
}
#inicio-pantalla3 {
    background: transparent url("../img/login/bg-init3.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#2b873e;
	min-height: 500px;
}
#inicio-pantalla4 {
    background: transparent url("../img/login/bg-init4.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#323117;
	min-height: 500px;
}
/* ==========================================================================
   SECTION > MI CUENTA > Notificaciones
   ========================================================================== */
#jp-notf-cont {
    border-bottom: #35b44a solid 5px;
}
.notifications {
	margin:5px 0;
}
.notifications .row {
    padding: 4px 0;
}
.notifications p {
	margin:0;
}

/* ==========================================================================
   SECTION > STATS
   ========================================================================== */
.stats-section {}
.stats-section .head h1 {
    font-size: 1.5em;
    font-weight: 600;

    margin: 5px 0;
    text-transform: uppercase;
}
.stats-section .head h2 {
    font-size: 1.15em;
    margin: 5px 0;
}
.stats-section .head h3 {
    font-size: 1.2em;
    font-weight: 300;
    margin: 10px 0 5px;
}

.stats-section .stats1 {}
.stats-section .stats1 h2 {
    font-size: 2em;
    font-weight: 700;
    line-height: 0.9em;
    margin: 0;
}
.stats-section .stats1 p {
    margin: 0 0 3px;
}
.stats-section .stats1 img {
	width:75%;
}
.stats-section .stats1 .color1 {color: #90C859;} /* Verde */
.stats-section .stats1 .color2 {color: #FFD124;} /* Amarillo */
.stats-section .stats1 .color3 {color: #FF9801;} /* Naranja */
.stats-section .stats1 .color4 {color: #FF2A00;} /* Rojo */

.stats-section .boxed {
	background-color: #35b44a;
	display: inline-block;
	color: #fff;
	border-radius: 4px;
	padding: 6px 8px 4px 8px;
	font-size:0.85em
}

.grafico-pases {
    background: #ff2a02 none repeat scroll 0 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    display: inline-block;
    height: 30px;
    margin: 20px 0;
    text-align: left;
    width: 80%;
}
.grafico-pases .correcto {
	height:30px;
	background: #35B44A;
	display: inline-block;
}


/* ==========================================================================
   COMMON SECTIONS 
   > Style 1 (Como funciona / Preguntas Frecuentes / Reglas y puntajes / etc)
   ========================================================================== */
.section-header {
    background: transparent url("../img/bg-section-header.jpg") no-repeat scroll 0 0 / cover ;
	position: relative;
	padding: 0;
	margin-bottom: 15px;
}
.section-header .header-img {
    margin: 15px auto;
    width: 100px;
}
.section-header .header-img img {
    border-radius: 50%;
    width: 100%;
}

.section-header .bg-section-header-cover {
    background: rgba(0, 0, 0, 0) url("../img/bg-section-header-cover.png") repeat scroll center top / cover ;
    bottom: 0;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

#section-how {}
#section-champions {}


/* ==========================================================================
   UTILITY
   ========================================================================== */
.spacer-top {
    height: 60px;
    width: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.full-width {
	width: 100%;
}

.text-uppercase {
	text-transform: uppercase;
}

.arrow-drag {
    background: transparent url("../img/arrows-drag.png") no-repeat scroll left top;
    bottom: -20px;
    display: block;
    height: 20px;
    left: 45%;
    opacity: 0.35;
    position: absolute;
    width: 40px;
}
.arrow-drag.down {
	background-position:left top;
}
.arrow-drag.up {
	background-position:right top;
}

.line-divider {
	width:100%;
	border-bottom: 1px solid #ccc;
	padding:25px 0 0;
	margin-bottom: 25px;
	display:inline-block;
}

/* ==========================================================================
   CONTAINERS / CONTAINER SPACING
   ========================================================================== */
.container{
	width:100%;
}
.container-full {
    padding-left: 0;
    padding-right: 0;
}
   
.container-style1 {
	position: relative;
}

.container-spacing-style1 {
	padding-bottom: 3px;
	padding-top: 2px;
}

/* ==========================================================================
   TITLES
   ========================================================================== */
.title-style1 {
    font-size: 1.25em;
    font-weight: 400;
    margin: 10px 0;
}
.title-style2 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px 0;
}

.container-title h3 {
    color: #fff;
    font-size: 1.15em;
    font-weight: 400;
    margin: 13px 0;
	text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.32);
}
.container-title .details h3 {
    margin: 6px 0;
	font-size: 1.25em;
}
.container-title h3 i{
	margin-left: 10px;
    font-size: 1.25em;
}
/* ==========================================================================
   TEXTS
   ========================================================================== */
.text-block-style1 {
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}
.text-block-style2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}
.text-block-style3 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}
/* ==========================================================================
   INFORMATION BOX
   ========================================================================== */
.information-box-style1 {
    padding: 5px;
	border-bottom: 4px solid #000;
}
.information-box-style2 {
    padding: 25px 0 25px 0;
	border-bottom: 4px solid #000;
}
/* ==========================================================================
   BUTTON STYLES
   ========================================================================== */
.btn-style1 {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    padding: 7px 10px 5px;
    text-transform: uppercase;
}


.btn-style2 {
    background: #6e6f71 none repeat scroll 0 0;
    border: 1px solid #6e6f71;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 12px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.btn-style2.selected {
	background-color: #000000;
	border-color: #000000;
	color: #ffffff;
	font-size:0.85em;
}

.btn-style3 {
    background: #35b44a none repeat scroll 0 0;
    border: 1px solid #35b44a;
    border-radius: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 7px 10px 5px;
}
.btn-style3:hover {
    background: #ccc none repeat scroll 0 0;
	border: 1px solid #ccc;
}
.btn-style4 {
    background: #6e6f71;
    border: 1px solid #6e6f71;
    border-radius: 0;
    color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    padding: 7px 10px 5px;
    text-transform: uppercase;
}
.btn-style5 {
    border: 2px solid #6e6f71;
    border-radius: 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    padding: 7px 10px 5px;
    text-transform: uppercase;
}

.btn-style1.xsmall, .btn-style2.xsmall, .btn-style3.xsmall, .btn-style4.xsmall  {
    font-size: 0.7em;
    font-weight: 400;
    line-height: inherit;
    padding: 2px 3px 0;
}


.btn-player-select {
    background: #bcbec1 none repeat scroll 0 0;
    border-color: #bcbec1;
    border-radius: 50%;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30px;
}
.btn-player-select > span {
    font-size: 1.5em;
    font-weight: 700;
	color: #ffffff;
}

.btn-player-select.selected {
	background-color: #38b44a;
}
.btn-live, .btn-live:focus, .btn-live:hover {
    background: #bcbec1 none repeat scroll 0 0;
    border-color: #bcbec1;
    border-radius: 50%;
    height: 30px;
    margin: 0;
    padding: 0;
	padding-top:2px;
	color:#FFF;
    width: 30px;
}
.btn-modal-ok {
    background: transparent none repeat scroll 0 0 !important;
    border-radius: 2px;
    color: #fff !important;
    font-size: 1.2em;
    padding-bottom: 3px;
    text-transform: uppercase;
}


.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: none;
    outline: 0 none;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}
.btn-payment{
	background-color:#FFF;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	height:70px;
	background-size: contain;
    background-repeat: no-repeat;
	margin-top:10px;
	margin-bottom:10px;
}
.btn-payment.paypal{
	background-position:center center;
	background-image:url(../img/icons/payments/paypal.jpg);
}
.btn-payment.mp-arg{
	background-position:center center;
	background-image:url(../img/icons/payments/mercadopago-argentina.jpg);
}
.btn-payment.mp-ch{
	background-position:center center;
	background-image:url(../img/icons/payments/mercadopago-chile.jpg);
}

/* ==========================================================================
   LINK STYLES
   ========================================================================== */
a:active, a:focus { outline-style: none; -moz-outline-style:none; }

.link-style1 {
    font-weight: 400;
    text-transform: uppercase;
}
.link-style1:hover {
    font-weight: 400;
    text-transform: uppercase;
	text-decoration: underline;
	color: #221F1F;
}

.link-style2 {
    color:#fff;
	text-transform: uppercase;
}
.link-style2:hover {
	text-decoration: none;
	color: #35b44a;
}

.link-style3 {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8em;
    padding: 0 4px;
}
.link-style3:hover {
	text-decoration: none;
	color: #ccc;
}



.circle-link {display: inline-block;}
.circle-link img {width: 100%;}
.circle-link.size1 {width: 24px;}
.circle-link.size2 {width: 35px;}
.circle-link.size3 {width: 50px;}
.circle-link.space1 {margin: 20px 0;}


/* ==========================================================================
   COLORS > BACKGROUNDS & TEXT
   ========================================================================== */
.bg-color1 {background-color: #221F1F;} /* Almost lack */
.bg-color2 {background-color: #35b44a;} /* Green */
.bg-color3 {background-color: #58595b;} /* Grey */
.bg-color4 {background-color: #202b2e;} /* Dark Blue */
.bg-color5 {background-color: #ffffff;} /* White */
.bg-color6 {background-color: #a5a7aa;} /* Light Grey */
.bg-color7 {background-color: #eff0f0;} /* Lighter Grey */
.bg-color8 {background-color: #000000;} /* Black Metal \w/ */
.bg-color9 {background-color: #90880C;} /* Yellow \w/ */
.bg-color10 {background-color: #EE1D23;} /* Live Red \w/ */
.bg-color11 {background-color: #ff9900;} /* Orange \w/ */
.bg-color12 {background-color: #ffff00;} /* Pure Yellow \w/ */

.text-color1 {color: #221F1F;} /* Almost Black */
.text-color2 {color: #ffffff;} /* White */
.text-color3 {color: #35b44a;} /* Green */
.text-color4 {color: #cccccc;} /* Grey */
.text-color5 {color: #feec06;} /* Yellow */
.text-color6 {color: #d29c1c;} /* Yellow Coin */
.text-color7 {color: #9E9E9E;} /* Darker Grey */
.text-color8 {color: #ff9900;} /* Orange challange */

/* ==========================================================================
   MODAL WINDOWS
   ========================================================================== */
.modal-dialog {
    margin: 15% 10px 10px;
    position: relative;
    width: auto;
}
.modal-content {
  color: #ffffff;
  position: relative;
  background-color: #231f20;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #231f20;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .9;
}
.modal-header {
  padding: 15px;
  border-bottom: none;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
    font-size: 1.8em;
    line-height: 1.42857;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: none;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #fff;
    float: none;
    font-size: 29px;
    font-weight: 700;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 10px;
    text-shadow: none;
    top: 10px;
}

#modal-generic {}
#modal-generic .modal-content {background-color:#fff;}
#modal-generic .modal-content .modal-header {}
#modal-generic .modal-content .modal-header h1 {font-size:1.3em;}
#modal-generic .modal-content .modal-header h2 {font-size:1.2em;}
#modal-generic .modal-content .modal-header h3 {font-size:1em;}
#modal-generic .modal-content .modal-body {}
#modal-generic .modal-content .modal-footer {}

/* ==========================================================================
   Modal msj Generales
   ========================================================================== */
.general-modal-msj .modal-content {
  color: #333;
  background-color: #FFF;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.general-modal-msj.x2 .modal-dialog {
    margin: 5% 10px 10px;
    text-align: center;
}
.general-modal-msj.x2 .modal-dialog .modal-body img {
	max-height:60vh;
	padding-left:auto;
	padding-right:auto;
}
.general-modal-msj .modal-dialog .modal-content .modal-header{
	padding: 15px;
  border-bottom: none;
  color:#FFF;
  text-align:center;
  background-color:#35B44A;
}
.general-modal-msj .modal-header {
  padding: 15px;
  border-bottom: none;
  color:#FFF;
  text-align:center;
  background-color:#35B44A;
}
.general-modal-msj.payment .modal-dialog .modal-content .modal-header {
  background-color:#113c50;
}
.general-modal-msj .modal-header h1 {font-size:1.3em;}
.general-modal-msj .modal-header h2 {font-size:1.2em;}
.general-modal-msj .modal-header h3 {font-size:1em;}

/* ==========================================================================
   ACCORDIONS
   ========================================================================== */

/* ACCORDION STYLE 1 [default styles used in faq.php & como-funciona.php] */
.panel-group .panel {
    border-radius: 0;
    margin-bottom: 0;
}
.panel {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}
.panel-default > .panel-heading {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: #333;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-radius: 0;
    padding: 6px 15px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #f1f1f1;
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading:hover h4 {
    text-decoration: underline;
}

.accordion-toggle.collapsed {
    background: transparent url("../img/accordion-arrow.png") no-repeat scroll right 2px / 24px auto;
    display: block;
    padding-bottom: 4px;
    padding-right: 32px;
    padding-top: 6px;
    width: 100%;
}   
.accordion-toggle {
    background: transparent url("../img/accordion-arrow-active.png") no-repeat scroll right 2px / 24px auto;
    display: block;
    padding-bottom: 4px;
    padding-right: 32px;
    padding-top: 6px;
    width: 100%;
}


/* ACCORDION STYLE 2 */
.accordion-style2 {}

.accordion-style2 .panel-default > .panel-heading {
    background-color: #000;
    border-color: #000;
    color: #ccc;
}

.accordion-style2 .friends {
    color: #fff;
    display: inline-block;
    font-size: 1.7em;
    margin-right: 5px;
}

.accordion-style2 .accordion-toggle {
    background-position: right 8px;
}
.accordion-style2 .panel-body {
    background-color: #202b2e;
    border-color: #202b2e !important;
}
.accordion-style2 .refered-friends.row {
    border-bottom: 1px solid #666;
    padding: 5px 0;
}
.accordion-style2 .refered-friends.row:first-child {
    padding-top: 0;
}

/* ==========================================================================
   LISTS
   ========================================================================== */

/*-- .list-style1 > SE USA EN MODAL WINDOWS --*/
.list-style1 {
    margin: 0 auto;
    width: 85%;
}
.list-style1 a {
    border-bottom: 1px solid #555555;
    color: #999999;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.list-style1 a:hover {
	text-decoration:none;
	color: #fff;
}
.list-style1 a:last-child {
	border-bottom: none;
}

.list-style1 a.selected {
    color: #fff;
    font-weight: 600;
}
.list-style1 a.selected::before {
    content: "\e013";
	font-family: 'Glyphicons Halflings';
	float: right;
	font-weight: 300;
	font-size:0.8em;
}

/*-- .list-style2 > SE USA EN HISTORIAL DETALLE --*/
.list-style2 {}

.list-style2 .row {
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

.list-style2 p {
	margin: 0;
	font-size: 0.8em;
}

/* ==========================================================================
   FORMS
   ========================================================================== */
.form-style1 {}
.form-style1 input {
    background-color: #e7e8e9;
    border-color: #e7e8e9;
    border-radius: 0;
    box-shadow: none;
}
.form-style1 textarea {
    background-color: #e7e8e9;
    border-color: #e7e8e9;
    border-radius: 0;
    box-shadow: none;
}

/* Para la sección recomendar a un amigo */
.copy-link {
    background:#fff;
    border: medium none;
    font-size: 0.85em;
    padding: 5px;
    text-align: center;
    width: 100%;
} 


/* ==========================================================================
   TABS
   ========================================================================== */
   
   
.nav-tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.nav-tabs > li {
    display: table-cell;
    float: none;
    margin-bottom: -1px;
    text-align: center;
    width: 100%;
	background-color: #f1f2f2;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: transparent;
	border-color: transparent;
}
.nav-tabs > li > a {
    background-color: #f1f2f2;
    border: 1px solid transparent;
    color: #000;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #35b44a;
}

/* ==========================================================================
   NEW TABS2
   ========================================================================== */
   
   
.nav-tabs2 {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.nav-tabs2 > li {
    display: table-cell;
    float: none;
	color:#FFF;
    text-align: left;
    width: 100%;
}
.nav-tabs2 > li > a {
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
	border-bottom:3px solid transparent;

}
.nav-tabs2 > li.active > a, .nav-tabs2 > li.active > a:focus, .nav-tabs2 > li.active > a:hover  {
	text-decoration: none;
    border-bottom: 3px #CCC solid;
    background-color: inherit;
}

/* ==========================================================================
	TABLES
========================================================================== */

.first-row th, .first-row td {
	border-top:none!important;
}
.selected-players.collapse{
	height:0px;
	overflow-y:auto;
	display: block;
}
/* ==========================================================================
	DIALOG
 ========================================================================== */
 .bootstrap-dialog .bootstrap-dialog-message{
	   overflow: auto;
   	   max-height: 100vh;
   }
/* ==========================================================================
	Explanation
 ========================================================================== */
#explanation-hole {
    width: 100px;
    height: 100px;
	position:absolute;
	top: 100px;
	left:100px;
    background-color: transparent;
	border-radius: 50%;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
	z-index:1000;
}
#explanation-hand{
	position:absolute;
	top: 100px;
	left:100px;
	color:#FFF;
	z-index:1002;
	font-size:18px;
}
#explanation-text{
	position:absolute;
	top: 100px;
	left:100px;
	color:#FFF;
	z-index:1002;
	font-size:18px;
}
#explanation-hole-stripe {
    width: 100%;
    height: 60px;
	position:absolute;
	top: 100px;
	left:100px;
    background-color: transparent;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
	z-index:10000000;
}
/* Loader */
.loader{
	width: 100%;
    color: #000;
    font-size: 14px;
    background-color: rgb(239, 239, 239);
    text-align: center;
    padding: 10px;
    border: #9E9E9E solid 1px;
}
/* Tablets */
@media (min-width: 600px) {
	body{
		font-size: 1.5em;
	}
	/* Game */
	.prize-type img {
    	width: 60px;
	}
	.match-type img {
    	width: 35px;
	}
	.btn-style2{
		padding: 10px;
	}
	.match-list-item {
    font-size: 1.5em;
	}
	.carousel-inner img{
		width:100%;
	}
}

.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu>li>a {
	color:#fff;
}

/* DESAFIOS*/
.friends-group-title{margin-top:4px; padding-left: 0px;}
.friends-group-match{padding-left: 0px;}
.friends-group-points p{margin:0 !important;}
.friends-group-amount p{margin:0 !important;}
.friends-group-points{margin-top:8px;}
.friends-group-amount{margin-top:7px;}

/* CONTACTOS */
.contact-list-icon{margin-left: 10px; vertical-align: middle;}
.contact-list-tab{background-color: #0A1A1A;  margin:0;}
.contact-list-header{margin:10px 0;}
.contact-list-header h3{color:white; font-size:1.2em;}
.friend-nick{font-size: 1.1em; margin-bottom: 0; color: black; font-weight: bold;}
.friend-name{color:grey;}
.friend-item{border-bottom: 1px solid lightgray;}
.friend-item.selected{ background-color:rgba(95, 195, 110, 0.21);}
.friend-item .icons i {margin-left:10px;}
#contact-list-menu  .fa-facebook-square,
#contact-list-friends  .fa-facebook-square {color:#3B5998;}

.mb30 {margin-bottom: 30px;}
.glyphicon-option-vertical {color: white;}
#contact-list-menu {
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 10;
}
#contact-list-menu .item {
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
}
#contact-list-menu .item:nth-child(odd){
    background-color:#DDD;
}
.nopadding{padding:0px !important;}

/* CREAR DESAFIO*/
#form-crear-desafio label{padding-top:20px; padding-bottom:10px; font-size:1.2em; font-weight:normal;}
#form-crear-desafio input,
#form-crear-desafio select{ color:#333; border:none; border-bottom:1px solid #CCC; -webkit-box-shadow:none; box-shadow:none; border-radius:0px;}
#priceOfChallenge,.monedasDesafio,#potSize {margin-top:12px;}
.btn-play-footer{    
	bottom: 0;
    height: 50px;
    margin: 0;
    padding: 0;

    position: fixed;
    right: 0;
    width: 100%;
	}
.btn-play-footer .btn-play{ font-variant:normal; font-size:1.2em;}	

/* Jugaplay Tabs Styling */

.jp-tabs li,
.jp-tabs li a{ background-color:transparent; color:#DDD;}
.jp-tabs li.active {border-bottom:3px solid #FFF;}
.jp-tabs li.active > a {color:#DDD;}
.jp-tabs li.active > a:hover,
.jp-tabs li.active > a:focus {color:#FFF; background-color:transparent;}
.jp-tabs li> a:hover,
.jp-tabs li> a:focus {color:#FFF; background-color:transparent; border:none;}
.synced{
	position: absolute !important;
    top: 8px;
    left: -10px !important;
    width: auto !important;
    padding: 3px;
    background-color: green;
    color: white;
    border-radius: 50%;
    line-height: normal !important;
}
.not-synced{
	position: absolute !important;
    top: 8px;
    left: -10px !important;
    width: auto !important;
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    line-height: normal !important;
}
.remove-contact,
.remove-contact:focus,
.remove-contact:hover{
	position: absolute !important;
    top: 35px;
    left: 40px !important;
    width: auto !important;
    padding: 3px;
    background-color: #999;
    color: white;
    border-radius: 50%;
    line-height: normal !important;
	font-size:0.5em !important;
	text-decoration:none;
}

#amigos-tab .icons > .fa-mobile,
#amigos-jugaplay-tab .icons > .fa-mobile {
	font-size: 28px;
}

#amigos-tab .icons > .fa-envelope-o,
#amigos-jugaplay-tab .icons > .fa-envelope-o {
	font-size: 25px;
}

#crear-grupo-buscar input{
	color:#FFF; 
	border:none; 
	border-bottom:1px solid #FFF; 
	-webkit-box-shadow:none; 
	box-shadow:none; 
	border-radius:0px;
	background-color:transparent;
	outline:none !important;
	padding:5px 0px;
	font-size:1.1em;
}

#crear-grupo-added{
	border-bottom:1px solid #CCC;
}

.added-item{
	margin-right:10px;
	text-align:center;
}


.added-item .name{
	font-size:0.8em;
	line-height:0.8em;
	text-align:center;
}
.minimum-tab-size{
	min-height:50vh;
}
/* ==========================================================================
   SECTION > MI CUENTA > Notificaciones
   ========================================================================== */
   /* Estilos para pagos pop up */
.no-content-pop-up-gen.payment .modal-dialog{
		max-width:800px;
	}
	.no-content-pop-up-gen.payment .modal-dialog .home-big-btns a{
		    font-size: 1.2em;
	}
	.payment-methods {
		position: relative;
	}
	
	.payment-methods .help-block {
		margin-top: 15px;
		margin-bottom: 0;
	}
	
	.payment-methods .nav-tabs li a {
		padding: 10px;
		color: #1b471f;
	}
	
	.payment-methods .nav-tabs li.active a {
		color: #555;
	}
	
	.payment-methods .nav-tabs li a:hover {
		border-bottom: transparent;
		background: #eee;
	}
	
	.payment-methods .nav-tabs li.active a:hover {
		border-bottom: 1px solid #FFF;
		background: #FFF;
	}
	.available-cards .radio {
		display: inline-block;
		padding: 5px 10px;
		margin: 5px 0 0 0;
		border: 1px solid #EEE;
		width: 50%;
	}
	.available-cards .radio img{
		 width: 100%;
	}
	
	.available-cards input[type="radio"] {
		margin: 15px -20px;
	}
	
	#pay-ccard .form-group {
		margin-bottom: 4px;
	}
	
	.ccard-container {
		padding: 0;
		max-width: 100%;
		min-width: 170px;
	}
	.btn-secundary {
		background: #1b471f;
		color: #FFF;
		border-bottom: 2px solid #309339;
	}
	.btn-secundary:hover {
		background: #09160a;
		color: #FFF;
		border-bottom: 2px solid #309339;
	}
	.coins-pack{
		cursor:pointer;
	}
	
	.coins-pack a{
		color:#333333;
	}
	.coins-pack.selected a{
		color:#113c50;
	}
	.coins-pack.selected .pic{
		border:solid #ffc107;
	}
	.coins-pack .pic img{
		width:100%;
	}
	.coins-pack:hover{
		opacity: 0.7;
	}
/* **********X2************ */
	.grey-img{
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	.grey-img:hover {
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		filter: grayscale(0%);
	}